<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        button {
            display: block;
            margin: 10px auto;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>FastRoadPay</h1>
    <button onclick="location.href='/signin'">Вхід</button>
    <button onclick="location.href='/signup'">Реєстрація</button>
    <button onclick="location.href='/checkbycar'">Швидка оплата за номером</button>
</body>
</html>
